body {
    background-color: #eef9bf;
    padding: 40px 90px;
    font-family: 'Roboto';
    font-size: 56px;
    color: #75b79e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 42px;
}

h1 {
    margin-bottom: 47px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 117px;
    height: 146px;
    margin: 34px;
    position: relative;
}

.card .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card .back-face {
    transform: rotateY(180deg);
}

.flip.back-face {
    transform: rotateY(0deg);
}

.flip.front-face {
    transform: rotateY(-180deg);
}

.card img {
    width: 100px;
    height: 100px;
}

@media (max-width: 600px) {
    body {
        font-size: 36px;
        padding-left: 45px;
        padding-right: 45px;
    }
    .container {
        flex-direction: column;
    }
}