body {
    background-color: #eef9bf;
    padding: 40px 90px;
    font-family: 'Roboto';
    font-size: 56px;
    color: #75b79e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 47px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .card {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 34px ;
}

.card img {
    width: 100px;
    height: 100px;
}

@media (max-width: 600px) {
    body {
        font-size: 36px;
        padding-left: 45px;
        padding-right: 45px;
    }
    .container {
        flex-direction: column;
    }
}